<div class="row">
  <div class="col m4 offset-m4 s12 create-acct">
    <center><h3>Create Account</h3></center>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, :placeholder => "first name" %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, :placeholder => "last name" %>
      </div>

      <div class="field">
        <%= f.label :date_of_birth %><br />
        <%= f.date_field :dob, as: :datepicker, :placeholder => "date of birth" %>
      </div>

      <div class="field">
        <%= f.label :social_security_number %><br />
        <%= f.text_field :ssn, :placeholder => "###-##-####" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :placeholder => "email@example.com" %>
      </div>

      <div class="field">
        <%= f.label :mobile_phone %><br />
        <%= f.text_field :mobile_phone, autofocus: true, :placeholder => "+1##########" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <center><%= f.submit "Create Account", class: "btn btn-default btn-primary" %></center>
      </div>
    <% end %>
    <center><%= render "devise/shared/links" %></center>
  </div>
</div>
