<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1><center>Health Tracking</center></h1>

<div class="row">
  <div class="col m4 offset-m3 health-data-modal">
  <a class="waves-effect waves-light btn modal-trigger" href="#modal4" id="today-steps">Record Today's Steps</a>

    <div id="modal4" class="modal">
      <div class="modal-content">
        <h4><center>Record Today's Steps</center></h4>
        <p><%= render "steps/form" %></p>
      </div>
    </div>
  </div>

  <div class="col m4">
  <a class="waves-effect waves-light btn modal-trigger" href="#modal5" id="today-sleeps">Record Today's Sleep</a>

    <div id="modal5" class="modal">
      <div class="modal-content">
        <h4><center>Record Today's Sleep Hours</center></h4>
        <p><%= render "sleeps/form" %></p>
      </div>
    </div>
  </div>
</div>

  <div class="row healthdash">
    <div class="col m6">
      <h4><center>Today's Activity</center></h4>
      <p><center><%= render "todaysteps" %></center></p>
        <%= line_chart current_user.steps.group_by_day(:date_of_steps).sum(:steps_today) %>
    </div>

  <div class="col m6">
    <h4><center>Hours Slept Today</center></h4>
    <p><center><%= render "todayslepthours" %></center></p>
      <%= column_chart current_user.sleeps.group_by_day(:date_of_sleep).sum(:hours) %>
  </div>
</div>
