<%= form_for(@prescription) do |f| %>
  <% if @prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @prescription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dosage_in_mg %><br>
    <%= f.number_field :dosage %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.check_box :brand %>
    <%= f.label :brand %><br>
  </div>
  <div class="field">
    <%= f.label :date_prescribed %><br>
    <%= f.text_field :date_prescribed, class: "datepicker"%>
  </div>
  <div class="field">
    <%= f.label :refill_till %><br>
    <%= f.date_field :refill_till %>
  </div>
  <div class="field">
    <%= f.label :rx_notes %><br>
    <%= f.text_field :rx_notes %>
  </div>
  <div class="actions">
    <center><%= f.submit "Submit New Rx", class: "btn btn-default btn-primary" %></center>
  </div>
<% end %>
