<p id="notice"><%= notice %></p>

<h1><center>Your Prescription's History</center></h1>

<div class="row">
  <% @user_prescriptions.each do |x| %>
  <div class="col m4">
    <div class="card blue lighten-2">
      <div class="card-content white-text">
        <span class="card-title"><center><%= x.name %></center></span>
          <p>
            <strong>Date Prescribed: </strong>
            <%= x.formatted_date_prescribed %>
          </p>
          <p>
            <strong>Refill Till: </strong>
            <%= x.formatted_refill_till %>
          </p>
          <p>
            <strong>Dosage: </strong>
            <%= "#{x.dosage}mg" %>
          </p>
          <p>
            <strong>Frequency: </strong>
            <%= x.frequency %>
          </p>
          <p>
            <strong>Brand?: </strong>
            <% if x.brand == true %>
              <%= "Yes" %>
            <% else %>
              <%= "No" %>
            <% end %>
          </p>
          <% if x.rx_notes.blank? %>
            <p>
              <strong>Notes from Pharmacist: </strong>
              <%= "No notes provided by pharmacist." %>
            </p>
          <% else %>
            <p>
              <strong>Notes from Pharmacist: </strong>
              <%= x.rx_notes %>
            </p>
          <% end %>
        </div>
      <div class="card-action">
        <%= link_to "Edit", edit_prescription_path(x) %>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal5">Schedule Reminder</a>

          <div id="modal5" class="modal">
            <div class="modal-content">
              <h4><center>Schedule Reminder</center></h4>
              <p><%= render "rx_alerts/form", locals: { prescription_id: x.id } %></p>
            </div>
          </div>
      </div>
    </div>
    </div>
    <% end %>
</div>
