<%= form_for(@rx_alert) do |f| %>
  <% if @rx_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rx_alert.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
      <% @rx_alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.check_box :M %>
    <%= f.label :M, class: "rx-sched-label" %>
    <%= f.check_box :T %>
    <%= f.label :T, class: "rx-sched-label" %>
    <%= f.check_box :W %>
    <%= f.label :W, class: "rx-sched-label" %>
    <%= f.check_box :Th %>
    <%= f.label :Th, class: "rx-sched-label" %>
    <%= f.check_box :F %>
    <%= f.label :F, class: "rx-sched-label" %>
    <%= f.check_box :S %>
    <%= f.label :S, class: "rx-sched-label" %>
    <%= f.check_box :Su %>
    <%= f.label :Su, class: "rx-sched-label" %>
  </div>

  <div class="field">
    <%= f.label :time_to_take %><br>
    <%= f.time_field :time_to_take %>
  </div>

  <div class="field">
    <%= f.hidden_field :prescription_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
