<p id="notice"><%= notice %></p>

<h1><center>Your Doctor Visit History</center></h1>

<div class="row">
  <% @user_visits.each do |x| %>
  <div class="col m4">
    <div class="card blue lighten-2">
      <div class="card-content white-text">
        <span class="card-title"><center><%= "Issue: #{x.reason_for_visit}" %></center></span><br />
        <p>
          <strong>Date of Service:</strong>
            <%= x.formatted_dos %>
        </p>

        <p>
          <strong>Physician's Name:</strong>
            <%= x.physician_first %>
            <%= x.physician_last %>
        </p>

        <p>
          <strong>Reason for Visit:</strong>
            <%= x.reason_for_visit %>
        </p>

        <p>
          <strong>Diagnosis:</strong>
            <%= x.diagnosis %>
        </p>

        <p>
        <% if x.dr_notes.blank? %>
          <p>
            <strong>Physician Notes: </strong>
            <%= "No notes provided by doctor." %>
          </p>
        <% else %>
          <p>
          <strong>Physician Notes: </strong>
            <%= x.dr_notes %>
          </p>
        <% end %>
        </div>
      <div class="card-action">
        <%= link_to "Edit", edit_prescription_path(x) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
