<% current_user.most_recent_dr_visit.each do |x| %>
  <p>
    <strong>Date of Service:</strong>
      <%= x.formatted_dos %>
  </p>

  <p>
    <strong>Physician's Name:</strong>
      <%= x.physician_first %>
      <%= x.physician_last %>
  </p>

  <p>
    <strong>Reason for Visit:</strong>
      <%= x.reason_for_visit %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
      <%= x.diagnosis %>
  </p>

  <p>
  <% if x.dr_notes.blank? %>
    <p>
      <strong>Physician Notes: </strong>
      <%= "No notes provided by doctor." %>
    </p>
  <% else %>
    <p>
    <strong>Physician Notes: </strong>
      <%= x.dr_notes %>
    </p>
  <% end %>
<% end %>
