<center><h2>Electronic Health Record</h2></center>

<div class="row">
  <div class="col m4 offset-m2">
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add New Doctor Visit</a>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4><center>Add New Doctor Visit</center></h4>
        <p><%= render "visits/form" %></p>
      </div>
    </div>
  </div>

  <div class="col m4 offset-m2">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2" id="new-rx">Add New Rx</a>

      <div id="modal2" class="modal">
        <div class="modal-content">
          <h4><center>Add New Rx</center></h4>
          <p><%= render "prescriptions/form" %></p>
        </div>
      </div>
  </div>
  </div>
</div>

    <div class="row ehr">
      <div class="col m4 offset-m1 s12">
        <h4 id="most-recent-dr-h4">Most Recent Dr Visit</h4>
        <% if current_user.visits.blank? %>
          <h4> You have not submitted any doctor visits yet </h4>
        <% else %>
          <% current_user.most_recent_dr_visit.each do |x| %>
            <div class="card blue lighten-2">
              <div class="card-content white-text">
                <span class="card-title"><center><%= "Issue: #{x.reason_for_visit}" %></center></span>
                <%= render "mostrecentvisit" %>
              </div>
              <div class="card-action">
                <%= link_to "Edit", edit_visit_path(x) %>
                <%= link_to "Show all", visits_path %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>


      <div class="col m4 offset-m2 s6">
        <h4 id="most-recent-rx-h4">Most Recent Rx</h4>
        <% if current_user.prescriptions.blank? %>
          <h4> You have submitted any prescriptions yet </h4>
        <% else %>
          <% current_user.most_recent_rx.each do |x| %>
            <div class="card blue lighten-2">
              <div class="card-content white-text">
                <span class="card-title"><center><%= x.name %></center></span>
                <%= render partial: "mostrecentrx" %>
              </div>
              <div class="card-action">
                <%= link_to "Edit", edit_prescription_path(x) %>
                <%= link_to "Show all", prescriptions_path %>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal5">Schedule Reminder</a>

                  <div id="modal5" class="modal">
                    <div class="modal-content">
                      <h4><center>Schedule Reminder</center></h4>
                      <p><%= render partial: "rx_alerts/form", locals: { :prescription_id => x.id } %></p>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
