<p id="notice"><%= notice %></p>

<center><h2>Electronic Health Record</h2></center>

<div class="row">
  <div class="col m6 offset-m3">
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add New Doctor Visit</a>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4><center>Add New Doctor Visit</center></h4>
        <p><%= render "visits/form" %></p>
      </div>
    </div>

  <a class="waves-effect waves-light btn modal-trigger" href="#modal2" id="new-rx">Add New Rx</a>

    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4><center>New Rx</center></h4>
        <p><%= render "prescriptions/form" %></p>
      </div>
    </div>
  </div>
</div>

    <div class="row ehr">
      <div class="col m6 offset-m1 s6">
        <% if current_user.visits.blank? %>
          <h4> You have no visits yet </h4>
        <% else %>
          <h4>Most Recent Dr Visit</h4>
          <%= render "mostrecentvisit" %>
        <% end %>
        </p>
      </div>
      <div class="col m5 s6">
        <h4><center>Most Recent Rx</center></h4>
        <% if current_user.prescriptions.blank? %>
        <% else %>
          <% current_user.most_recent_rx.each do |x| %>
            <div class="card light-blue darken-1">
              <div class="card-content white-text">
                <span class="card-title"><center><%= x.name %></center></span>
                <%= render "mostrecentrx" %>
              </div>
              <div class="card-action">
                <%= link_to "Edit", edit_prescription_path(x) %>
                <%= link_to "Show all", prescriptions_path %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
