<p id="notice"><%= notice %></p>



<center><h2>Electronic Health Record</h2></center>

    <div class="row ehr">
      <div class="col m4 s4">
        <% if current_user.visits.blank? %>
        <% else %>
        <h4>Doctor Visits</h4>
        <p>
          <% current_user.visits.each do |v| %>
          <tr>
            <p>
              <strong>Date of Service: </strong>
                <%= v.dos %>
            </p>
          </tr>
            <strong>Physician's Name: </strong>
              <tr>
                <%= v.physician_first %>
                <%= v.physician_last %>
              </tr>
          <tr>
            <p>
              <strong>Reason for Visit: </strong>
                <%= v.reason_for_visit %>
            </p>
          </tr>
          <tr>
            <p>
              <strong>Diagnosis: </strong>
                <%= v.diagnosis %>
            </p>
          </tr>
          <tr>
            <p>
              <strong>Phyisican Notes: </strong>
                <%= v.dr_notes %>
            </p>
          </tr>
            <% end %>
        </tr>
      </p>
    </div>
      <div class="col m4 s4">
        <h4>Prescription History</h4>
        <% if current_user.prescriptions.blank? %>
        <% else %>
          <% current_user.current_prescriptions.each do |p| %>
            <div class="card light-blue darken-1">
              <div class="card-content white-text">
                <span class="card-title"><%= p.name %></span>
                <p>
                  <strong>Date Prescribed: </strong>
                  <%= p.date_prescribed %>
                </p>
                <p>
                  <strong>Dosage: </strong>
                  <%= "#{p.dosage}mg" %>
                </p>
                <p>
                  <strong>Frequency: </strong>
                  <%= p.frequency %>
                </p>
                <p>
                  <strong>Brand?: </strong>
                  <%= p.brand %>
                </p>
                <p>
                  <strong>Refill Till: </strong>
                  <%= p.refill_till %>
                </p>
                <p>
                  <strong>Notes from Pharmacist: </strong>
                  <%= p.rx_notes %>
                </p>
              </div>
              <div class="card-action">
                <%= link_to "Edit", edit_prescription_path(p) %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% end %>
        <div class="col m6 offset-m4 s2">
          <h4>Add New Visit</h4>
          <p>
            <%= render "visits/form" %>
          </p>
        </div>
          <h4>Add New Rx</h4>
          <p>
            <%= render "prescriptions/form" %>
          </p>
      <!-- <div class="col m3 offset-m1 s2">
        <p>
          <button class="btn waves-effect blue accent-2"><%= link_to "Submit Recent Doctor Visit", new_visit_path %></button>
        </p>
        <p>
          <button><%= link_to "Submit Recent Rx",           new_prescription_path %></button>
        </p>
      </div> -->
    </div>
