<p id="notice"><%= notice %></p>

<center><h2>Electronic Health Record</h2></center>

<div class="row">
  <div class="col m6 offset-m3">
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add New Doctor Visit</a>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4><center>Add New Doctor Visit</center></h4>
        <p><%= render "visits/form" %></p>
      </div>
    </div>

  <a class="waves-effect waves-light btn modal-trigger" href="#modal2" id="new-rx">Add New Rx</a>

    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4><center>New Rx</center></h4>
        <p><%= render "prescriptions/form" %></p>
      </div>
    </div>
  </div>
</div>

    <div class="row ehr">
      <div class="col m6 offset-m1 s6">
        <% if current_user.visits.blank? %>
        <% else %>
        <h4>Doctor Visits</h4>
        <p>
          <% current_user.visits.each do |v| %>
          <tr>
            <p>
              <strong>Date of Service: </strong>
                <%= v.dos %>
            </p>
          </tr>
            <strong>Physician's Name: </strong>
              <tr>
                <%= v.physician_first %>
                <%= v.physician_last %>
              </tr>
          <tr>
            <p>
              <strong>Reason for Visit: </strong>
                <%= v.reason_for_visit %>
            </p>
          </tr>
          <tr>
            <p>
              <strong>Diagnosis: </strong>
                <%= v.diagnosis %>
            </p>
          </tr>
          <tr>
            <p>
              <strong>Phyisican Notes: </strong>
                <%= v.dr_notes %>
            </p>
          </tr>
            <% end %>
        </tr>
      </p>
    </div>
      <div class="col m5 s6">
        <h4>Prescription History</h4>
        <% if current_user.prescriptions.blank? %>
        <% else %>
          <% current_user.current_prescriptions.each do |p| %>
            <div class="card light-blue darken-1">
              <div class="card-content white-text">
                <span class="card-title"><center><%= p.name %></center></span>
                <p>
                  <strong>Date Prescribed: </strong>
                  <%= p.date_prescribed %>
                </p>
                <p>
                  <strong>Dosage: </strong>
                  <%= "#{p.dosage}mg" %>
                </p>
                <p>
                  <strong>Frequency: </strong>
                  <%= p.frequency %>
                </p>
                <p>
                  <strong>Brand?: </strong>
                  <%= p.brand %>
                </p>
                <p>
                  <strong>Refill Till: </strong>
                  <%= p.refill_till %>
                </p>
                <% if p.rx_notes.blank? %>
                  <p>
                    <strong>Notes from Pharmacist: </strong>
                    <%= "No notes provided." %>
                  </p>
                <% else %>
                  <p>
                    <strong>Notes from Pharmacist: </strong>
                    <%= p.rx_notes %>
                  </p>
                <% end %>
              </div>
              <div class="card-action">
                <%= link_to "Edit", edit_prescription_path(p) %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% end %>
      </div>
