  <div class="row dashboard centered">
    <div class='top-pad hide-on-small-only'></div>
    <div class="col m4 s12 dashcol">
        <% if current_user.med_coverage.blank? %>
          <%= link_to new_med_coverage_path do %>
            <%= image_tag("benefit-card.png") %>
            <p class="dash-captions">Benefit Information</p>
          <% end %>
        <% else %>
          <%= link_to med_coverage_path(current_user.med_coverage) do %>
            <%= image_tag("benefit-card.png") %>
            <p class="dash-captions">Benefit Information</p>
          <% end %>
        <% end %>
    </div>
    <div class="col m4 s12 dashcol">
        <%= link_to ehr_path do %>
          <%= image_tag("clipboard.png", :id => "ehr-img") %>
          <p class="dash-captions">Electronic Health Record</p>
        <% end %>
    </div>
    <div class="col m4 s12 dashcol">
      <%= link_to health_path do %>
        <%= image_tag("graph.png") %>
        <p class="dash-captions health-data-heading">Health Data</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="centered">
      <a class="waves-effect waves-light btn modal-trigger" id="tos-modal" href="#modal3">Terms of Service</a>

      <div id="modal3" class="modal">
        <div class="modal-content" >
          <h4>Terms of Service</h4>
          <p>By signing up for an account with our service, you have agreed or accepted the terms and conditions of our service agreement.</p>
        </div>
        <div class="modal-footer">
          <a href="/dashboard" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    </div>
  </div>

<% if current_user.sign_in_count < 1 %>
  <% if cookies[:accepted] == false %>
  <script>
  $(document).ready(function() {
    $('#modal3').openModal();
    document.cookie = document.cookie + " accepted=true"
  });
  </script>
  <% end %>
<% end %>
