  <div class="row dashboard centered">
    <div class="col m3 offset-m2 s3 dashcol">
      <p>
        <% if current_user.med_coverage.blank? %>
          <%= link_to image_tag("benefit-card.png"), new_med_coverage_path %>
          <p class="dash-captions">Submit Your Plan Information</p>
        <% else %>
          <%= link_to image_tag("benefit-card.png"), med_coverage_path(current_user.med_coverage) %>
          <p class="dash-captions">Benefit Information</p>
        <% end %>
      </p>
    </div>
    <div class="col m3 s3 dashcol" >
      <p>
        <% if current_user.visits.blank? || current_user.prescriptions.blank? %>
          <%= link_to image_tag("clipboard.png", :id => "ehr-img"), ehr_path %>
          <p class="dash-captions">Electronic Health Record</p>
        <% else %>
          <%= link_to image_tag("clipboard.png", :id => "ehr-img"), ehr_path %>
          <p class="dash-captions">Electronic Health Record</p>
        <% end %>
      </p>
    </div>
    <div class="col m3 s3 dashcol">
      <p>
        <%= link_to image_tag("graph.png"), health_path %>
        <p class="dash-captions health-data-heading">Health Data</p>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="centered">
      <a class="waves-effect waves-light btn modal-trigger" id="tos-modal" href="#modal3">Terms of Service</a>

      <div id="modal3" class="modal">
        <div class="modal-content" >
          <h4>Terms of Service</h4>
          <p>By signing up for an account with our service, you have agreed or accepted the terms and conditions of our service agreement.</p>
        </div>
        <div class="modal-footer">
          <a href="/dashboard" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    </div>
  </div>

<% if current_user.sign_in_count < 1 %>
  <% if cookies[:accepted] == false %>
  <script>
  $(document).ready(function() {
    $('#modal3').openModal();
    document.cookie = document.cookie + " accepted=true"
  });
  </script>
  <% end %>
<% end %>
