<%= form_for(@sleep) do |f| %>
  <% if @sleep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sleep.errors.count, "error") %> prohibited this sleep from being saved:</h2>

      <ul>
      <% @sleep.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :minutes %><br>
    <%= f.number_field :minutes %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
