<%= form_for(@sleep, namespace: local_assigns[:sleeps]) do |f| %>
  <% if @sleep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sleep.errors.count, "error") %> prohibited this sleep from being saved:</h2>

      <ul>
      <% @sleep.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hours %><br>
    <%= f.number_field :hours %>
  </div>
  <div class="field">
    <%= f.label :date_of_sleep %><br>
    <%= f.text_field :date_of_sleep, class: "datepicker"%>
  </div>
  <div class="actions">
    <center><%= f.submit "Record Today's Sleep", class: "btn btn-default btn-primary" %></center>
  </div>
<% end %>
