<p id="notice"><%= notice %></p>

<p>
  <strong>Minutes:</strong>
  <%= @exercise.minutes %>
</p>

<p>
  <strong>User:</strong>
  <%= @exercise.user %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
