<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>MediWallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <% if controller_name == "home" || devise_controller? %>
    <body class="homepage <%= ['london'].sample %>">
      <nav>
        <div class="nav-wrapper blue">
          <a href="" class="brand-logo">MediWallet</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Dashboard', dashboard_path %></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :DELETE) %></li>
            <% else %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Create Account', new_user_registration_path %></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <% if user_signed_in? %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Dashboard', dashboard_path %></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :DELETE) %></li>
            <% else %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Create Account', new_user_registration_path %></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
  <% else %>
    <body>

      <nav>
        <div class="nav-wrapper blue">
          <a href="" class="brand-logo">MediWallet</a>
          <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Dashboard', dashboard_path %></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :DELETE) %></li>
            <% else %>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Create Account', new_user_registration_path %></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

        <%= yield %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
  <% end %>

  <footer class="page-footer fixed">
    <!-- <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MediWallet</h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="footer-copyright">
      <div class="container">
      © 2015 Copyright Ryan Yep
      </div>
    </div>
  </footer>
</html>
